<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input-text</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="input-text.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Input-text
        </h1>

        <p>demo paragraph</p>

        <div class="input-text">
          <label class="input-text__label">
            <textarea name="" rows="1" class="input-text__input"></textarea>
          </label>
        </div>

        <p>demo paragraph</p>

        <div class="input-text">
          <label class="input-text__label">
            <span class="input-text__label-text">Token</span>
            <textarea name="" rows="1" class="input-text__input"></textarea>
          </label>
          <span class="input-text__description text-secondary">You can create your own token <a href="https://github.com/settings/tokens">here</a> (it should be able to work with gist).</span>
        </div>

        <p>demo paragraph</p>

        <div class="input-text  input-text--size-lg">
          <label class="input-text__label">
            <span class="input-text__label-text">Large</span>
            <textarea name="" rows="1" class="input-text__input"></textarea>
          </label>
          <span class="input-text__description text-secondary">You can create your own token <a href="https://github.com/settings/tokens">here</a> (it should be able to work with gist).</span>
        </div>

        <p>demo paragraph</p>

        <div class="input-text">
          <label class="input-text__label">
            <span class="input-text__label-text">Token</span>
            <textarea name="" rows="1" class="input-text__input"></textarea>
          </label>
          <span class="input-text__error-message">You can create your own token <a href="https://github.com/settings/tokens">here</a> (it should be able to work with gist).</span>
        </div>

        <p>demo paragraph</p>

        <div class="input-text input-text--has-max-length">
          <label class="input-text__label">
            <span class="input-text__label-text">Token</span>
            <textarea name="" rows="1" class="input-text__input" placeholder="ghp_KurwaBober1234567T4HfQWbczMnL3b0e5Xv"></textarea>
          </label>
          <span class="input-text__character-count  text-secondary">0/365</span>
        </div>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
