<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Progress Bar</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="progress.css">
</head>
<body>

  <div class="app">
    <div class="app__header">
      <p>navigation</p>
    </div>

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Progress
        </h1>

        <p>demo paragraph</p>

        <div class="progress  progress--done">
          <div class="progress__line-wrap">
            <div class="progress__line" style="width: 100%"></div>
          </div>
        </div>

        <p>demo paragraph</p>

        <div class="progress">
          <div class="progress__line-wrap">
            <div class="progress__line" style="width: 20%"></div>
          </div>
          <div class="progress__text">20 / 100</div>
        </div>

        <p>demo paragraph</p>

        <div class="progress">
          <div class="progress__line-wrap">
            <div class="progress__line" style="width: 146%"></div>
          </div>
          <div class="progress__text">146 / 100</div>
        </div>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
