.resolver {
  display: flex;
  gap: var(--gap);
  flex-direction: column;
}

.resolver__header {
  flex-shrink: 0;
}

.resolver__wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  /* height: 1em; */
  min-height: 0;
  overflow-y: auto;
}

.resolver__footer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  padding-top: 0.5rem;
  flex-shrink: 0;
}

.resolver__secondary-btn {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  margin-right: auto;
}

.resolver__primary-btn {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.resolver__item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, auto);
  margin-bottom: 1em;
}

.resolver__item--header {
  font-weight: 600;

  .resolver__item-data {
    padding: 0 0.8rem;
    border-color: transparent !important;
    cursor: default;
  }
}

.resolver__item-data {
  position: relative;
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  padding: 0;
  border: 3px solid var(--gray-lighter);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  text-align: left;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.resolver__item-data--empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resolver__item-data--incoming {
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.resolver__item-data--existing {
  grid-column: 2 / 3;
  grid-row: 1 / 6;
}

button.resolver__item-data--selected,
button.resolver__item-data:hover {
  border-color: var(--success-color);
}
.resolver__item:hover {
  button.resolver__item-data {
    border-color: var(--gray-lightest);
  }

  button.resolver__item-data:hover {
    border-color: var(--success-color);
  }
}

.resolver__item-id {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1.4rem;
  cursor: default;
  background-color: var(--bg-color);
  white-space: nowrap;

  span {
    display: block;
    font-size: var(--text-size-sm);
    transform: rotate(90deg) translateX(0.5rem);
  }
}

.resolver__text:not(:empty) {
  padding: 0.5rem 2rem  0.5rem 0.8rem;
}

.resolver__text--first,
.resolver__text--second {
  height: 100%;
  font-weight: 600;
}

.resolver__text--firstD,
.resolver__text--secondD {
  height: 100%;
  color: var(--text-color-secondary);
  font-size: var(--text-size-sm);
}

.resolver__text--knowledgeLvl {
  display: flex;
  align-items: center;
  line-height: 1;
}

.resolver__text--accent {
  background-color: var(--gray-lightest);
}

@media (prefers-color-scheme: dark) {
  .resolver__text--accent {
    background-color: var(--gray-lighter);
  }
}
