<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button-circle</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="btn-circle.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Button-circle
        </h1>

        <p>demo paragraph</p>

        <button class="btn-circle">
          <svg width="18" height="18"><path d="M7 14 1.425 8.447 3 7l4 4 8-8 1.459 1.549S10.333 10.667 7 14z" /></svg>
        </button>
        <button class="btn-circle  btn-circle--accent">
          <svg width="18" height="18"><path d="M7 14 1.425 8.447 3 7l4 4 8-8 1.459 1.549S10.333 10.667 7 14z" /></svg>
        </button>
        <button class="btn-circle  btn-circle--loading">
          <svg width="18" height="18"><path d="M7 14 1.425 8.447 3 7l4 4 8-8 1.459 1.549S10.333 10.667 7 14z" /></svg>
        </button>
        <button class="btn-circle" disabled>
          <svg width="18" height="18"><path d="M7 14 1.425 8.447 3 7l4 4 8-8 1.459 1.549S10.333 10.667 7 14z" /></svg>
        </button>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
