<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="carousel.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../index.html">Components</a> > Carousel
        </h1>

        <p>demo paragraph</p>

        <div class="carousel" style="height: 30em;">
          <div class="carousel__slides">
            <div class="carousel__slide">
              01
            </div>
            <div class="carousel__slide  carousel__slide--active">
              02
            </div>
            <div class="carousel__slide">
              03
            </div>
          </div>
        </div>

        <p>demo paragraph</p>

      </div>

    </div>
  </div>
</body>
</html>
