<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Button</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="btn.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Button
        </h1>

        <p>demo paragraph</p>

        <button class="btn">Standart button</button>
        <button class="btn  btn--sm">Standart button SM</button>
        <button class="btn  btn--xs">Standart button XS</button>
        <button class="btn" disabled>DISABLED</button>

        <p>demo paragraph</p>

        <button class="btn  btn--secondary">Secondary button</button>
        <button class="btn  btn--secondary  btn--sm">Secondary button SM</button>
        <button class="btn  btn--secondary  btn--xs">Secondary button XS</button>
        <button class="btn  btn--secondary" disabled>DISABLED</button>

        <p>demo paragraph</p>

        <button class="btn  btn--danger">Danger button</button>
        <button class="btn  btn--danger  btn--sm">Danger button SM</button>
        <button class="btn  btn--danger  btn--xs">Danger button XS</button>
        <button class="btn  btn--danger" disabled>DISABLED</button>

        <p>demo paragraph</p>

        <button class="btn  btn--text">Text button</button>
        <button class="btn  btn--text  btn--sm">Text button SM</button>
        <button class="btn  btn--text  btn--xs">Text button XS</button>
        <button class="btn  btn--text" disabled>DISABLED</button>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
