.settings__form-item {
  display: block;
  margin-bottom: 1em;
}

.settings__form-item--buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap);
  margin-top: 2em;
}

.settings__left-buttons {
  margin-right: auto;
}

.settings__right-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap);
}

.settings__import-btn {
  position: relative;

  input {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    opacity: 0;
  }
}
