<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Input-checkbox</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="input-checkbox.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../index.html">Components</a> > Input-checkbox
        </h1>

        <p>demo paragraph</p>

        <div class="input-checkbox">
          <label class="input-checkbox__label">
            <input class="input-checkbox__input" name="" type="checkbox">
            <span class="input-checkbox__content">Synchronization with gist when 100% is reached.</span>
          </label>
        </div>

        <p>demo paragraph</p>

        <div class="input-checkbox">
          <label class="input-checkbox__label">
            <input class="input-checkbox__input" name="" type="checkbox">
            <span class="input-checkbox__content">Synchronization with gist when 100% is reached. Synchronization with gist when 100% is reached. Synchronization with gist when 100% is reached. </span>
          </label>
        </div>

        <p>demo paragraph</p>

      </div>

    </div>
  </div>
</body>
</html>
