.navigation {
  position: fixed;
  left: 1em;
  bottom: 1em;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 0.5em 0.8em;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  line-height: 1;
  background-color: var(--white, #ffffff);
  color: inherit;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__list:not(:last-child) {
  padding-bottom: 0.5em;
}
