<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Close</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="close.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Close
        </h1>

        <p>demo paragraph</p>

        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
