.phrase-card {
  position: relative;
  width: clamp(360px, 83vw, 860px);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-sm);
  backface-visibility: hidden;
}

.phrase-card__main {
  padding: clamp(1rem, 2.1vw, 1.4286rem) clamp(1rem, 2.5vw, 2rem);
  cursor: pointer;
}

.phrase-card__main-text-wrap {
  position: relative;
  font-size: var(--phrase-main-text-size);
  line-height: 1.2;

  p {
    margin: 0;
  }

  p + p {
    margin-top: 0.2em;
  }
}

.phrase-card__second-phrase-voice {
  position: absolute;
  top: 0;
  right: clamp(-2rem, -2.5vw, -1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  min-width: 2rem;
  min-height: 2rem;
  border: 1px solid var(--border-color);
  border-right: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  padding: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

.phrase-card__description-text-wrap {
  padding: 1rem 0 0;
  font-size: var(--phrase-second-text-size);

  p {
    margin: 0;
  }

  p + p {
    margin-top: 0.2em;
  }
}

.phrase-card__collapsable-wrap {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.phrase-card__collapsable {
  padding: clamp(1rem, 2.1vw, 1.4286rem) clamp(1rem, 2.5vw, 2rem);
}

.phrase-card__bottom-info {
  position: absolute;
  top: calc(100% + 0.2rem);
  right: 0.5rem;
  margin: 0;
}

.phrase-card__memo-rating {
  padding: 1rem 0 0;
  margin-left: -0.3rem;
}
