<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notification</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="notification.css">
  <link rel="stylesheet" href="../close/close.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Notification
        </h1>

        <p>demo paragraph</p>

        <div class="notifications">
          <div class="notification" role="alert">
            <p class="notification__text">Main text.</p>
            <div class="notification__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
            <button type="button" class="close notification__close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>

          <div class="notification  notification--success" role="alert">
            <svg class="notification__icon" width="18" height="18">
              <path fill="var(--success-color)" d="M7 14 1.425 8.447 3 7l4 4 8-8 1.459 1.549S10.333 10.667 7 14z" />
            </svg>
            <p class="notification__text">Phrases exported successfully.</p>
            <div class="notification__description">The export to <a href="https://gist.github.com/nicothin/ad14d17a04eec0d1217309e54f7c312e" target="_blank">this gist</a> has been successfully completed.</div>
            <button type="button" class="close notification__close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>

          <div class="notification  notification--error" role="alert">
            <svg class="notification__icon" width="18" height="18">
              <path fill="var(--danger-color)" d="m8.977 7.568 5.29-5.31 1.417 1.412-5.297 5.314 5.297 5.317-1.416 1.41-5.291-5.31-5.293 5.31-1.416-1.41 5.296-5.317L2.268 3.67l1.416-1.412 5.293 5.31z" />
            </svg>
            <p class="notification__text">Phrases exported successfully.</p>
            <div class="notification__description">The export to <a href="https://gist.github.com/nicothin/ad14d17a04eec0d1217309e54f7c312e" target="_blank">this gist</a> has been successfully completed.</div>
            <button type="button" class="close notification__close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
