<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirm</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="confirm.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Confirm
        </h1>

        <p>demo paragraph</p>

        <div class="confirm">
          <div class="confirm__content">
            <h3 class="confirm__title">Are you sure?</h3>
            <div class="confirm__buttons">
              <button class="btn  btn--secondary">Cancel</button>
              <button class="btn  btn--danger">Yes, delete this phrases</button>
            </div>
          </div>
          <span class="confirm__backdrop"></span>
        </div>

        <p>demo paragraph</p>

      </div>

    </div>
  </div>
</body>
</html>
