<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Import from file</title>

  <link rel="stylesheet" href="../custom-properties.css">
  <link rel="stylesheet" href="../main.css">

  <link rel="stylesheet" href="import-from-file-button.css">
</head>
<body>

  <div class="app">

    <div class="app__content">

      <div class="layout-text">

        <h1>
          <a href="../../components.html">Components</a> > Import from file
        </h1>

        <p>demo paragraph</p>

        <label class="import-from-file-button link"><input class="import-from-file-button__input" type="file" accept=".json, application/json"><span class="import-from-file-button__text">import from file</span></label>

        <p>demo paragraph</p>
      </div>

    </div>
  </div>
</body>
</html>
